<div class="row" ng-controller="servicekskCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Заявки</h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">



                    <style type="text/css">
                        tfoot {font-weight: bold; background-color: #f2f2f2;}
                        .tg  {border-collapse:collapse;border-spacing:0; width: 100%;}
                        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                        .tg .tg-hgcj{font-weight:bold;text-align:center; vertical-align:middle}
                        .tg .tg-baqh{text-align:center;vertical-align:middle}
                        .tg .tg-baqh1{text-align:left;vertical-align:middle}
                        .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:middle}


                    </style>
                    <table class="tg table-striped">
                        <tr>
                            <th class="tg-hgcj">Наименование заявки</th>
                            <th class="tg-hgcj">Тип заявки</th>
                            <th class="tg-hgcj">Дата заявки</th>
                            <th class="tg-hgcj">Статус</th>

                            <th class="tg-hgcj">Текст заявки</th>


                        </tr>


                        <tbody>


                        <tr>


                            <td class="tg-baqh">Заявка на ремонт подъезда</td>

                            <td class="tg-baqh">Заявка</td>
                            <td class="tg-baqh">19.11.1988</td>
                            <td class="tg-baqh">В работе</td>
                            <td class="tg-baqh">Необходимо провести ремонт подъезда</td>




                        </tr>







                        </tbody>





                    </table>




                </div>

            </div>





        </md-card>

    </div>
















</div>