<div class="row" ng-controller="servicekskCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Услуги</h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">


                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="ТБО">
                            <md-content class="md-padding">

                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Кол-во площадок</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Кол-во контейнеров</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">График вывоза бытовых отходов</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>



                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Обслуживающая организация</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>






                            </md-content>
                        </md-tab>



                        <md-tab label="Работы по дому">
                            <md-content class="md-padding">

                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">ПОСТОЯННЫЕ</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">ПЕРИОДИЧЕСКИЕ
</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">КАПИТАЛЬНЫЙ РЕМОНТ
</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>




                            </md-content>
                        </md-tab>

                        <md-tab label="Доход от иной деятельности">
                            <md-content class="md-padding">

                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Аренда</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Реклама</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Другие виды
</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>





                            </md-content>
                        </md-tab>

                        <md-tab label="ДОПОЛНИТЕЛЬНЫЙ СЕРВИС">
                            <md-content class="md-padding">

                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Компьютерная помощь
</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Уборка квартиры
</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Доставка воды
</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>






                            </md-content>
                        </md-tab>

                    </md-tabs>

                </div>

            </div>





        </md-card>

    </div>
















</div>