<div class="row" ng-controller="notifsemCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Оповещения потребителей и кск
                    </h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">


                    <md-card>
                        <md-card-title>
                            <md-card-title-text>

                                <h6>Тема сообщения</h6>
                                <h6>Авария</h6>
                                <h6>Плановые работы</h6>

                                <h6>2.1 Текущий ремонт</h6>
                                <h6>2.2 Капитальный ремонт</h6>
                                <h6>_______________________________________________________</h6>

                                <h6>Текст сообщения
                                    ______________________________________________________________________________________________</h6>

                                <h6>Список адресов (МЖД)</h6>

                            </md-card-title-text>



                        </md-card-title>

                    </md-card>

                </div>

            </div>





        </md-card>

    </div>
















</div>