<div class="row" ng-controller="maingosCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Анализ данных</h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">


                    <md-tabs md-dynamic-height md-border-bottom>



                        <md-tab label="Состояние жилого фонда">
                            <md-content class="md-padding">

                             <div id="chart1"></div>

                            </md-content>
                        </md-tab>
                        <md-tab label="Состояние и программа ремонта сетей и коммуникаций">
                            <md-content class="md-padding">

                                <div id="chart2"></div>

                            </md-content>
                        </md-tab>
                        <md-tab label="Мониторинг поставки ресурсов">
                            <md-content class="md-padding">

                                <div id="chart3"></div>

                            </md-content>
                        </md-tab>
                        <md-tab label="Потребление ресурсов в разрезе категорий потребителей">
                            <md-content class="md-padding">

                                <div id="chart4"></div>

                            </md-content>
                        </md-tab>
                        <md-tab label="Оплата услуг и ресурсов, задолженность">
                            <md-content class="md-padding">

                                <div id="chart5"></div>

                            </md-content>
                        </md-tab>
                        <md-tab label="Анализ реализации программ и проектов в сфере ЖКХ">
                            <md-content class="md-padding">

                                <div id="chart6"></div>

                            </md-content>
                        </md-tab>
                        <md-tab label="Мониторинг тарифов, мониторинг льгот в сфере ЖКХ">
                            <md-content class="md-padding">

                                <div id="chart7"></div>
                            </md-content>
                        </md-tab>

                    </md-tabs>



                </div>

            </div>





        </md-card>

    </div>
















</div>