<div class="row" ng-controller="maingosCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Анализ данных</h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">


                    <md-tabs md-dynamic-height md-border-bottom>



                        <md-tab label="Состояние жилищного фонда">
                            <md-content class="md-padding">

                                <div class="row">
                                    <div class="col-md-12">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>


                                                    <h6 class="title">количество многоквартирных жилых домов</h6>
                                                    <h6 class="title">количество многоквартирных жилых домов, подлежащих ремонту;</h6>
                                                    <h6 class="title">физический износ;</h6>
                                                    <h6 class="title">количество аварийных домов;</h6>
                                                    <h6 class="title">наличие технического паспорта на многоквартирный жилой дом;</h6>
                                                    <h6 class="title">количество многоквартирных жилых домов, зарегистрированных как объект кондоминиума;</h6>
                                                    <h6 class="title">год постройки многоквартирного жилого дома, количество этажей, квартир;</h6>
                                                    <h6 class="title">общая площадь многоквартирных жилых домов,</h6>
                                                    <h6 class="title">серия, тип проекта дома;</h6>
                                                    <h6 class="title">материал стен;</h6>
                                                    <h6 class="title">форма управления в многоквартирном жилом доме;</h6>
                                                    <h6 class="title">наличие текущего и сберегательного счета;</h6>
                                                    <h6 class="title">количество установленных индивидуальных счетчиков по воде, газу, теплу;</h6>
                                                    <h6 class="title">количество установленных общедомовых счетчиков тепла, воды; наличие АТП; количество лифтов, их техническое состояние;</h6>
                                                    <h6 class="title">количество лифтов, требующих замены;</h6>
                                                    <h6 class="title">класс энергоэффективности;</h6>
                                                    <h6 class="title">остаточный жизненный цикл дома;</h6>
                                                    <h6 class="title">задолженность за услуги по содержанию общего имущества объекта кондоминиума;</h6>
                                                    <h6 class="title">количество человек, получивших жилищную помощь</h6>


                                                </md-card-title-text>



                                            </md-card-title>

                                        </md-card>

                                    </div>

                                </div>

                            </md-content>
                        </md-tab>
                        <md-tab label="Состояние коммунальных и инженерных сетей">
                            <md-content class="md-padding">

                                <div class="row">
                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>


                                                    <h6 class="title">Теплоснабжение:</h6>
                                                        <h6 class="title">протяженность сетей теплоснабжения;</h6>
                                                        <h6 class="title">количество источников теплоснабжения;</h6>
                                                        <h6 class="title">техническое состояние сетей теплоснабжения;</h6>
                                                        <h6 class="title">физический износ;</h6>
                                                        <h6 class="title">количество аварий;</h6>
                                                        <h6 class="title">необходимая сумма для модернизации систем теплоснабжения</h6>
                                                        <h6 class="title">Задолженность за услуги;</h6>
                                                        <h6 class="title">тариф</h6>

                                                </md-card-title-text>



                                            </md-card-title>

                                        </md-card>

                                    </div>

                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>


                                                    <h6 class="title">Водоснабжение и водоотведение:</h6>
                                                    <h6 class="title">протяженность сетей водоснабжения и водоотведения;</h6>
                                                    <h6 class="title">количество аварий;</h6>
                                                    <h6 class="title">техническое состояние сетей водоснабжения и водоотведения;</h6>
                                                    <h6 class="title">дата последней реконструкции сетей;</h6>
                                                    <h6 class="title">физический износ;</h6>
                                                    <h6 class="title">задолженность за услуги;</h6>
                                                    <h6 class="title">выделенные средства;</h6>
                                                    <h6 class="title">необходимая сумма для модернизации систем водоснабжения и водоотведения;</h6>
                                                    <h6 class="title">Электроснабжение:</h6>
                                                    <h6 class="title">Выработано электроэнергии;</h6>
                                                    <h6 class="title">Отпущено электроэнергии;</h6>
                                                    <h6 class="title">Потери электроэнергии;</h6>
                                                    <h6 class="title">Газоснабжение:</h6>
                                                    <h6 class="title">количество населенных пунктов газифицированных;</h6>
                                                    <h6 class="title">Потребление;</h6>
                                                    <h6 class="title">Общая протяженность</h6>
                                                    <h6 class="title">Протяженность сетей, подлежащих ремонту</h6>
                                                    <h6 class="title">физический износ;</h6>
                                                    <h6 class="title">задолженность.</h6>

                                                </md-card-title-text>



                                            </md-card-title>

                                        </md-card>

                                    </div>

                                </div>

                            </md-content>
                        </md-tab>


                        <md-tab label="Баланс производства и потребления энергоресурсов">
                            <md-content class="md-padding">



                            </md-content>
                        </md-tab>


                    </md-tabs>



                </div>

            </div>





        </md-card>

    </div>
















</div>