<div class="row" ng-controller="MyFlatCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Моя квартира</h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">


                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Технический паспорт  квартиры">
                            <md-content class="md-padding">


                                <div class="row">
                                    <div class="col-md-12">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>

                                                    <h6 style="font-weight: normal; font-size: 1.2em">Адрес дома: Ч. Айтматова, 31</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Подъезд: 1</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Номер квартиры: 3</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Этажность: 5</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Количество жильцов: 5</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Общая площадь:  84.8 м<sup>2</sup></h6>





                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <img src="../../images/flat.png" alt="House" height="200" width="200" style="width: 300px">



                                                </md-card-title-media>

                                            </md-card-title>

                                            <md-card-actions layout="row">
                                                <md-button class="md-raised md-primary">Скачать паспорт квартиры</md-button>

                                            </md-card-actions>

                                        </md-card>
                                    </div>
                                </div>





                            </md-content>
                        </md-tab>
                        <md-tab label="Показания счетчиков">
                            <md-content class="md-padding">

                                <div class="row">
                                    <div class="col-md-12">
                                        <md-card>


                                            <md-card-title>
                                                <md-card-title-text>




                                                    <div class="row">
                                                        <div class="col-md-4">



                                                                <md-card>

                                                                    <md-card-title>
                                                                        <md-card-title-text>

                                                                            <span class="md-headline">0,0879  Гкал /232,31 тенге</span>
                                                                            <span class="md-subhead">Жылу / Отопление</span>


                                                                        </md-card-title-text>



                                                                    </md-card-title>



                                                                </md-card>



                                                        </div>


                                                        <div class="col-md-4">



                                                            <md-card>

                                                                <md-card-title>
                                                                    <md-card-title-text>

                                                                        <span class="md-headline">0,28 м3 / 44,69 тенге</span>
                                                                        <span class="md-subhead">ГВС</span>


                                                                    </md-card-title-text>



                                                                </md-card-title>



                                                            </md-card>



                                                        </div>



                                                        <div class="col-md-4">



                                                            <md-card>

                                                                <md-card-title>
                                                                    <md-card-title-text>

                                                                        <span class="md-headline">3,466667  кВт / 45,04 тенге</span>
                                                                        <span class="md-subhead">ЭЭ на ОДН</span>


                                                                    </md-card-title-text>



                                                                </md-card-title>



                                                            </md-card>



                                                        </div>


                                                    </div>


                                                    <div class="row">
                                                        <div class="col-md-4">



                                                            <md-card>

                                                                <md-card-title>
                                                                    <md-card-title-text>

                                                                        <span class="md-headline">19,26667 кВт / 243,22 тенге</span>
                                                                        <span class="md-subhead">ЭЭ по ПУ</span>


                                                                    </md-card-title-text>



                                                                </md-card-title>



                                                            </md-card>



                                                        </div>


                                                        <div class="col-md-4">



                                                            <md-card>

                                                                <md-card-title>
                                                                    <md-card-title-text>

                                                                        <span class="md-headline">0,566667 м3 / 21,56 тенге</span>
                                                                        <span class="md-subhead">Водоснабжение по ПУ</span>


                                                                    </md-card-title-text>



                                                                </md-card-title>



                                                            </md-card>



                                                        </div>



                                                        <div class="col-md-4">



                                                            <md-card>

                                                                <md-card-title>
                                                                    <md-card-title-text>

                                                                        <span class="md-headline">0,566667 м3 / 18,07 тенге</span>
                                                                        <span class="md-subhead">Водоотведение по ПУ</span>


                                                                    </md-card-title-text>



                                                                </md-card-title>



                                                            </md-card>



                                                        </div>


                                                    </div>



                                                    <div class="row">
                                                        <div class="col-md-12">






                                                                <md-card>

                                                                    <md-card-title>
                                                                        <md-card-title-text>

                                                                            <span class="md-headline" style="margin-bottom: 20px">К оплате за март месяц</span>

                                                                            <style id="Month_1523_Styles">
                                                                                <!--table
                                                                                {mso-displayed-decimal-separator:"\,";
                                                                                    mso-displayed-thousand-separator:" ";}
                                                                                .xl151523
                                                                                {padding-top:1px;
                                                                                    padding-right:1px;
                                                                                    padding-left:1px;
                                                                                    mso-ignore:padding;
                                                                                    color:black;
                                                                                    font-size:11.0pt;
                                                                                    font-weight:400;
                                                                                    font-style:normal;
                                                                                    text-decoration:none;
                                                                                    font-family:Calibri, sans-serif;
                                                                                    mso-font-charset:0;
                                                                                    mso-number-format:General;
                                                                                    text-align:general;
                                                                                    vertical-align:bottom;
                                                                                    mso-background-source:auto;
                                                                                    mso-pattern:auto;
                                                                                    white-space:nowrap;}
                                                                                .xl651523
                                                                                {padding-top:1px;
                                                                                    padding-right:1px;
                                                                                    padding-left:1px;
                                                                                    mso-ignore:padding;
                                                                                    color:black;
                                                                                    font-size:11.0pt;
                                                                                    font-weight:400;
                                                                                    font-style:normal;
                                                                                    text-decoration:none;
                                                                                    font-family:Calibri, sans-serif;
                                                                                    mso-font-charset:0;
                                                                                    mso-number-format:General;
                                                                                    text-align:general;
                                                                                    vertical-align:bottom;
                                                                                    border:.5pt solid windowtext;
                                                                                    mso-background-source:auto;
                                                                                    mso-pattern:auto;
                                                                                    white-space:nowrap;}
                                                                                .xl661523
                                                                                {padding-top:1px;
                                                                                    padding-right:1px;
                                                                                    padding-left:1px;
                                                                                    mso-ignore:padding;
                                                                                    color:black;
                                                                                    font-size:11.0pt;
                                                                                    font-weight:400;
                                                                                    font-style:normal;
                                                                                    text-decoration:none;
                                                                                    font-family:Calibri, sans-serif;
                                                                                    mso-font-charset:0;
                                                                                    mso-number-format:General;
                                                                                    text-align:left;
                                                                                    vertical-align:bottom;
                                                                                    border:.5pt solid windowtext;
                                                                                    mso-background-source:auto;
                                                                                    mso-pattern:auto;
                                                                                    white-space:nowrap;}
                                                                                .xl671523
                                                                                {padding-top:1px;
                                                                                    padding-right:1px;
                                                                                    padding-left:1px;
                                                                                    mso-ignore:padding;
                                                                                    color:black;
                                                                                    font-size:11.0pt;
                                                                                    font-weight:400;
                                                                                    font-style:normal;
                                                                                    text-decoration:none;
                                                                                    font-family:Calibri, sans-serif;
                                                                                    mso-font-charset:0;
                                                                                    mso-number-format:Fixed;
                                                                                    text-align:left;
                                                                                    vertical-align:bottom;
                                                                                    border:.5pt solid windowtext;
                                                                                    mso-background-source:auto;
                                                                                    mso-pattern:auto;
                                                                                    white-space:nowrap;}
                                                                                .xl681523
                                                                                {padding-top:1px;
                                                                                    padding-right:1px;
                                                                                    padding-left:1px;
                                                                                    mso-ignore:padding;
                                                                                    color:black;
                                                                                    font-size:11.0pt;
                                                                                    font-weight:700;
                                                                                    font-style:normal;
                                                                                    text-decoration:none;
                                                                                    font-family:Calibri, sans-serif;
                                                                                    mso-font-charset:204;
                                                                                    mso-number-format:General;
                                                                                    text-align:general;
                                                                                    vertical-align:bottom;
                                                                                    border:.5pt solid windowtext;
                                                                                    mso-background-source:auto;
                                                                                    mso-pattern:auto;
                                                                                    white-space:nowrap;}
                                                                                -->
                                                                            </style>




                                                                            <table border=0 cellpadding=0 cellspacing=0 width=477 style='border-collapse:collapse;table-layout:fixed;width:100%'>
                                                                                <col width=221 style='mso-width-source:userset;mso-width-alt:8082;width:166pt'>
                                                                                <col width=64 span=4 style='width:48pt'>
                                                                                <tr height=20 style='height:15.0pt'>
                                                                                    <td height=20 class=xl651523 width=221 style='height:15.0pt;width:166pt'>За
                                                                                        месяц</td>
                                                                                    <td class=xl651523 width=64 style='border-left:none;width:48pt'>&nbsp;</td>
                                                                                    <td class=xl651523 width=64 style='border-left:none;width:48pt'>&nbsp;</td>
                                                                                    <td class=xl651523 width=64 style='border-left:none;width:48pt'>&nbsp;</td>
                                                                                    <td class=xl651523 width=64 style='border-left:none;width:48pt'>&nbsp;</td>
                                                                                </tr>
                                                                                <tr height=20 style='height:15.0pt'>
                                                                                    <td height=20 class=xl681523 style='height:15.0pt;border-top:none'>Отопление</td>
                                                                                    <td class=xl651523 align=right style='border-top:none;border-left:none'>2,637</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>Гкал</td>
                                                                                    <td class=xl661523 style='border-top:none;border-left:none'>6969,52</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>тенге</td>
                                                                                </tr>
                                                                                <tr height=20 style='height:15.0pt'>
                                                                                    <td height=20 class=xl681523 style='height:15.0pt;border-top:none'>ГВС</td>
                                                                                    <td class=xl651523 align=right style='border-top:none;border-left:none'>8,4</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>М3</td>
                                                                                    <td class=xl661523 style='border-top:none;border-left:none'>1340,78</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>тенге</td>
                                                                                </tr>
                                                                                <tr height=20 style='height:15.0pt'>
                                                                                    <td height=20 class=xl681523 style='height:15.0pt;border-top:none'>ЭЭ на ОДН</td>
                                                                                    <td class=xl651523 align=right style='border-top:none;border-left:none'>104</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>кВт</td>
                                                                                    <td class=xl661523 style='border-top:none;border-left:none'>1351,17</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>тенге</td>
                                                                                </tr>
                                                                                <tr height=20 style='height:15.0pt'>
                                                                                    <td height=20 class=xl681523 style='height:15.0pt;border-top:none'>ЭЭ по ПУ</td>
                                                                                    <td class=xl651523 align=right style='border-top:none;border-left:none'>578</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>кВт</td>
                                                                                    <td class=xl661523 style='border-top:none;border-left:none'>7296,58</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>тенге</td>
                                                                                </tr>
                                                                                <tr height=20 style='height:15.0pt'>
                                                                                    <td height=20 class=xl681523 style='height:15.0pt;border-top:none'>Водоснабжение
                                                                                        по ПУ</td>
                                                                                    <td class=xl651523 align=right style='border-top:none;border-left:none'>17</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>М3</td>
                                                                                    <td class=xl661523 style='border-top:none;border-left:none'>646,94</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>тенге</td>
                                                                                </tr>
                                                                                <tr height=20 style='height:15.0pt'>
                                                                                    <td height=20 class=xl681523 style='height:15.0pt;border-top:none'>Водоотведение
                                                                                        по ПУ</td>
                                                                                    <td class=xl651523 align=right style='border-top:none;border-left:none'>17</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>М3</td>
                                                                                    <td class=xl661523 style='border-top:none;border-left:none'>542,22</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>тенге</td>
                                                                                </tr>
                                                                                <tr height=20 style='height:15.0pt'>
                                                                                    <td height=20 class=xl681523 style='height:15.0pt;border-top:none'>Эксплуатационные
                                                                                        расходы КСК</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>&nbsp;</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>&nbsp;</td>
                                                                                    <td class=xl671523 style='border-top:none;border-left:none'>1780,00</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>тенге</td>
                                                                                </tr>
                                                                                <tr height=20 style='height:15.0pt'>
                                                                                    <td height=20 class=xl681523 style='height:15.0pt;border-top:none'>Вывоз
                                                                                        мусора</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>&nbsp;</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>&nbsp;</td>
                                                                                    <td class=xl671523 style='border-top:none;border-left:none'>259,20</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>тенге</td>
                                                                                </tr>
                                                                                <tr height=20 style='height:15.0pt'>
                                                                                    <td height=20 class=xl681523 style='height:15.0pt;border-top:none'>Домофон</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>&nbsp;</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>&nbsp;</td>
                                                                                    <td class=xl671523 style='border-top:none;border-left:none'>350,00</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>тенге</td>
                                                                                </tr>
                                                                                <tr height=20 style='height:15.0pt'>
                                                                                    <td height=20 class=xl681523 style='height:15.0pt;border-top:none'>Всего</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>&nbsp;</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>&nbsp;</td>
                                                                                    <td class=xl671523 style='border-top:none;border-left:none'>20536,41</td>
                                                                                    <td class=xl651523 style='border-top:none;border-left:none'>тенге</td>
                                                                                </tr>
                                                                                <![if supportMisalignedColumns]>
                                                                                <tr height=0 style='display:none'>
                                                                                    <td width=221 style='width:166pt'></td>
                                                                                    <td width=64 style='width:48pt'></td>
                                                                                    <td width=64 style='width:48pt'></td>
                                                                                    <td width=64 style='width:48pt'></td>
                                                                                    <td width=64 style='width:48pt'></td>
                                                                                </tr>
                                                                                <![endif]>
                                                                            </table>


                                                                        </md-card-title-text>











                                                                    </md-card-title>



                                                                </md-card>









                                                        </div>




                                                    </div>




                                                    <div class="row">
                                                        <div class="col-md-12">



                                                            <div id="chartmonth"></div>

                                                        </div>


                                                    </div>





                                                </md-card-title-text>



                                            </md-card-title>

                                        </md-card>
                                    </div>




                                </div>



                            </md-content>
                        </md-tab>





                        <md-tab label="Данные о прописанных лицах">
                            <md-content class="md-padding">

                                <div class="row">
                                    <div class="col-md-12">
                                        <md-card>


                                            <md-card-title>
                                                <md-card-title-text>



                                                    <div class="row">
                                                        <div class="col-md-12">



                                                           <style type="text/css">
                                                                tfoot {font-weight: bold; background-color: #f2f2f2;}
                                                                .tg  {border-collapse:collapse;border-spacing:0; width: 100%;}
                                                                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                                                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                                                .tg .tg-hgcj{font-weight:bold;text-align:center; vertical-align:middle}
                                                                .tg .tg-baqh{text-align:right;vertical-align:middle}
                                                                .tg .tg-baqh1{text-align:left;vertical-align:middle}
                                                                .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:middle}


                                                            </style>
                                                            <table class="tg table-striped">
                                                                <tr>
                                                                    <th class="tg-hgcj">ФИО</th>
                                                                    <th class="tg-hgcj">Год рождения</th>

                                                                    <th class="tg-hgcj">ИИН</th>


                                                                </tr>


                                                                <tbody>


                                                                <tr>


                                                                    <td class="tg-baqh1">Мухтаров Медет Казмуратович</td>

                                                                    <td class="tg-baqh">19.11.1988</td>

                                                                    <td class="tg-baqh">891119300190</td>


                                                                </tr>



                                                                <tr>


                                                                    <td class="tg-baqh1">Турысбаева Акмарал Алгабековна</td>

                                                                    <td class="tg-baqh">29.09.1986</td>

                                                                    <td class="tg-baqh">860926401023</td>


                                                                </tr>



                                                                <tr>


                                                                    <td class="tg-baqh1">Казмурат Айша Медеткызы</td>

                                                                    <td class="tg-baqh">25.02.2012</td>

                                                                    <td class="tg-baqh">120225602599</td>


                                                                </tr>


                                                                <tr>


                                                                    <td class="tg-baqh1">Казмуратова Амина Медеткызы</td>

                                                                    <td class="tg-baqh">13.08.2013</td>

                                                                    <td class="tg-baqh">130813601436</td>


                                                                </tr>


                                                                <tr>


                                                                    <td class="tg-baqh1">Казмурат Абай Медетулы</td>

                                                                    <td class="tg-baqh">06.09.2016</td>

                                                                    <td class="tg-baqh">160906500624</td>


                                                                </tr>






                                                                </tbody>





                                                            </table>





                                                        </div>

                                                    </div>


                                                </md-card-title-text>



                                            </md-card-title>

                                        </md-card>
                                    </div>




                                </div>



                            </md-content>
                        </md-tab>



                    </md-tabs>

                </div>

            </div>





        </md-card>

    </div>
















</div>