<div class="row" ng-controller="MyFlatCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Моя квартира</h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">


                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Информация о моей квартире">
                            <md-content class="md-padding">


                                <div class="row">
                                    <div class="col-md-12">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <h6 class="title">Наименование жилого комплекса: "Тестовый дом"</h6>
                                                    <h6 class="title">Адрес дома: ул. Тестовая, 55</h6>
                                                    <h6 class="title">Количество жильцов: 2</h6>
                                                    <h6 class="title">Общая площадь: 56 м2</h6>





                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <img src="../../images/flat.png" alt="House" height="200" width="200" style="width: 300px">



                                                </md-card-title-media>

                                            </md-card-title>

                                            <md-card-actions layout="row">
                                                <md-button class="md-raised md-primary">Скачать паспорт квартиры</md-button>

                                            </md-card-actions>

                                        </md-card>
                                    </div>
                                </div>





                            </md-content>
                        </md-tab>
                        <md-tab label="Показания счетчиков">
                            <md-content class="md-padding">

                                <div class="row">
                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">500 Гкал</span>
                                                    <span class="md-subhead">Показания тепла</span>
                                                </md-card-title-text>

                                                <md-card-title-media>


                                                        <i class="flaticon-radiator"></i>


                                                </md-card-title-media>

                                            </md-card-title>

                                        </md-card>
                                    </div>


                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">500 кВт/ч</span>
                                                    <span class="md-subhead">Показания энергии</span>
                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <i class="flaticon-light-bulb"></i>


                                                </md-card-title-media>

                                            </md-card-title>

                                        </md-card>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">500 м3</span>
                                                    <span class="md-subhead">Показания холодной воды</span>
                                                </md-card-title-text>


                                                <md-card-title-media>


                                                    <i class="flaticon-tap"></i>


                                                </md-card-title-media>

                                            </md-card-title>

                                        </md-card>
                                    </div>


                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">500 м3</span>
                                                    <span class="md-subhead">Показания горячей воды</span>
                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <i class="flaticon-tap-1"></i>


                                                </md-card-title-media>

                                            </md-card-title>

                                        </md-card>
                                    </div>

                                </div>

                            </md-content>
                        </md-tab>

                    </md-tabs>

                </div>

            </div>





        </md-card>

    </div>
















</div>