<div class="row" ng-controller="MyFlatCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Моя квартира</h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">


                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Технический паспорт  квартиры">
                            <md-content class="md-padding">


                                <div class="row">
                                    <div class="col-md-12">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>

                                                    <h6 style="font-weight: normal">Адрес дома: Ч. Айтматова, 31</h6>
                                                    <h6 style="font-weight: normal">Подъезд: 1</h6>
                                                    <h6 style="font-weight: normal">Номер квартиры: 3</h6>
                                                    <h6 style="font-weight: normal">Этажность: 5</h6>
                                                    <h6 style="font-weight: normal">Количество жильцов: 5</h6>
                                                    <h6 style="font-weight: normal">Общая площадь:  84.8 м<sup>2</sup></h6>





                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <img src="../../images/flat.png" alt="House" height="200" width="200" style="width: 300px">



                                                </md-card-title-media>

                                            </md-card-title>

                                            <md-card-actions layout="row">
                                                <md-button class="md-raised md-primary">Скачать паспорт квартиры</md-button>

                                            </md-card-actions>

                                        </md-card>
                                    </div>
                                </div>





                            </md-content>
                        </md-tab>
                        <md-tab label="Показания счетчиков">
                            <md-content class="md-padding">

                                <div class="row">
                                    <div class="col-md-12">
                                        <md-card>


                                            <md-card-title>
                                                <md-card-title-text>



                                                    <div class="row">
                                                        <div class="col-md-12">




                                                            <style type="text/css">
                                                                tfoot {font-weight: bold; background-color: #f2f2f2;}
                                                                .tg  {border-collapse:collapse;border-spacing:0; width: 100%;}
                                                                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                                                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                                                .tg .tg-hgcj{font-weight:bold;text-align:center; vertical-align:middle}
                                                                .tg .tg-baqh{text-align:right;vertical-align:middle}
                                                                .tg .tg-baqh1{text-align:left;vertical-align:middle}
                                                                .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:middle}


                                                            </style>
                                                            <table class="tg table-striped">
                                                                <tr>
                                                                    <th class="tg-hgcj">Дата</th>
                                                                    <th class="tg-hgcj">Кухня хол.</th>

                                                                    <th class="tg-hgcj">Кухня гор.</th>
                                                                    <th class="tg-hgcj">СУ хол.</th>
                                                                    <th class="tg-hgcj">СУ гор.</th>


                                                                </tr>


                                                                <tbody>


                                                                <tr>


                                                                    <td class="tg-baqh1">7 апреля. Время 19-00</td>

                                                                    <td class="tg-baqh">00022,417</td>

                                                                    <td class="tg-baqh">00019,009</td>
                                                                    <td class="tg-baqh">00053,408</td>
                                                                    <td class="tg-baqh">00028,090</td>


                                                                </tr>



                                                                <tr>


                                                                    <td class="tg-baqh1">18 апреля. Время 17-00</td>

                                                                    <td class="tg-baqh">00023,086</td>

                                                                    <td class="tg-baqh">00019,873</td>
                                                                    <td class="tg-baqh">00056,371</td>
                                                                    <td class="tg-baqh">00029,634</td>


                                                                </tr>








                                                                </tbody>





                                                            </table>





                                                        </div>

                                                    </div>


                                                </md-card-title-text>



                                            </md-card-title>

                                        </md-card>
                                    </div>




                                </div>



                            </md-content>
                        </md-tab>





                        <md-tab label="Данные о прописанных лицах">
                            <md-content class="md-padding">

                                <div class="row">
                                    <div class="col-md-12">
                                        <md-card>


                                            <md-card-title>
                                                <md-card-title-text>



                                                    <div class="row">
                                                        <div class="col-md-12">



                                                           <style type="text/css">
                                                                tfoot {font-weight: bold; background-color: #f2f2f2;}
                                                                .tg  {border-collapse:collapse;border-spacing:0; width: 100%;}
                                                                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                                                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                                                .tg .tg-hgcj{font-weight:bold;text-align:center; vertical-align:middle}
                                                                .tg .tg-baqh{text-align:right;vertical-align:middle}
                                                                .tg .tg-baqh1{text-align:left;vertical-align:middle}
                                                                .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:middle}


                                                            </style>
                                                            <table class="tg table-striped">
                                                                <tr>
                                                                    <th class="tg-hgcj">ФИО</th>
                                                                    <th class="tg-hgcj">Год рождения</th>

                                                                    <th class="tg-hgcj">ИИН</th>


                                                                </tr>


                                                                <tbody>


                                                                <tr>


                                                                    <td class="tg-baqh1">Мухтаров Медет Казмуратович</td>

                                                                    <td class="tg-baqh">19.11.1988</td>

                                                                    <td class="tg-baqh">891119300190</td>


                                                                </tr>



                                                                <tr>


                                                                    <td class="tg-baqh1">Турысбаева Акмарал Алгабековна</td>

                                                                    <td class="tg-baqh">29.09.1986</td>

                                                                    <td class="tg-baqh">860926401023</td>


                                                                </tr>



                                                                <tr>


                                                                    <td class="tg-baqh1">Казмурат Айша Медеткызы</td>

                                                                    <td class="tg-baqh">25.02.2012</td>

                                                                    <td class="tg-baqh">120225602599</td>


                                                                </tr>


                                                                <tr>


                                                                    <td class="tg-baqh1">Казмуратова Амина Медеткызы</td>

                                                                    <td class="tg-baqh">13.08.2013</td>

                                                                    <td class="tg-baqh">130813601436</td>


                                                                </tr>


                                                                <tr>


                                                                    <td class="tg-baqh1">Казмурат Абай Медетулы</td>

                                                                    <td class="tg-baqh">06.09.2016</td>

                                                                    <td class="tg-baqh">160906500624</td>


                                                                </tr>






                                                                </tbody>





                                                            </table>





                                                        </div>

                                                    </div>


                                                </md-card-title-text>



                                            </md-card-title>

                                        </md-card>
                                    </div>




                                </div>



                            </md-content>
                        </md-tab>



                    </md-tabs>

                </div>

            </div>





        </md-card>

    </div>
















</div>