<div class="row" ng-controller="budgetkskCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Бюджет</h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">


                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Бюджетные заявки">
                            <md-content class="md-padding">

                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Обязательный</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Комфорт</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Extra</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>









                            </md-content>
                        </md-tab>



                        <md-tab label="Согласование. тариф">
                            <md-content class="md-padding">

                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">ПРЕДВАРИТЕЛЬНОЕ СОГЛАСОВАНИЕ</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Голосование с ЭЦП</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>

                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Протокол собрания</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>

                            </md-content>
                        </md-tab>




                    </md-tabs>

                </div>

            </div>





        </md-card>

    </div>
















</div>