<md-dialog class="fullscreen-dialog" aria-label="Создать смарт - договор">







        <md-toolbar class="md-toolbar-tools">

                <h2 style="color: white">Создать смарт - договор</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()" aria-label="Отмена">
                    <i class="fa fa-window-close"></i>
                </md-button>

        </md-toolbar>


        <md-dialog-content>
            <div class="md-dialog-content">


                <div class="row">
                    <div class="col-md-12">


                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Наименование договора</label>
                            <input ng-model="data.nameContract">
                        </md-input-container>


                        <md-input-container>
                            <label>Выберите организацию для заключения договора</label>

                            <md-select ng-model="data.selectOrg">

                                <md-option ng-repeat="y in data.allOrgs" ng-value="y.name">
                                    {{y.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>





                    </div>

                </div>




                <div class="row">
                    <div class="col-md-12">

                        <iframe height="600" style="width: 100%; padding-left: 200px; border: 0;" src="https://docs.google.com/document/d/e/2PACX-1vTziju5RSwE8WpjFxHPkvmsU_HV0T__VqvxhucRQprclnj6ysoBNgvJrwIucehYNiES7Xp_DIwa8MZ3/pub?embedded=true"></iframe>


                    </div>

                </div>







            </div>
        </md-dialog-content>




    <md-dialog-actions layout="row">


        <md-button class="md-raised md-primary" ng-click="saveContract()">
            Сохранить
        </md-button>

        <md-button class="md-raised md-primary" ng-click="closeDialog()" aria-label="Отмена">
            Отмена
        </md-button>
        <span flex></span>
    </md-dialog-actions>



</md-dialog>