<div class="row" ng-controller="HomePageCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Работа со смарт контрактами</h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12 table-responsive">


                    <md-button class="md-raised md-primary" ng-click="newContract($event)">Создать смарт - контракт</md-button>


                    <style type="text/css">
                        .tg  {border-collapse:collapse;border-spacing:0; width: 98.7%; margin-left: 8px;}
                        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                        .tg .tg-hgcj{font-weight:bold;text-align:center; vertical-align:middle}
                        .tg .tg-baqh{text-align:center;vertical-align:middle}
                        .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:middle}


                    </style>
                    <table class="tg table-striped">
                        <tr>
                            <th class="tg-hgcj">Номер блока</th>
                            <th class="tg-hgcj">Наименование контракта</th>
                            <th class="tg-hgcj">Дата заключения</th>
                            <th class="tg-hgcj">Хэшь транзакции</th>

                            <th class="tg-hgcj">Просмотреть данные контракта</th>
                            <th class="tg-hgcj">Скачать договор</th>
                            <th class="tg-hgcj">Разорвать договор</th>
                        </tr>


                        <tbody>


                        <tr ng-repeat="data in data | filter:search">





                            <td class="tg-baqh">{{data.blockNumber}}</td>

                            <td class="tg-baqh">{{data.nameContract}}</td>



                            <td class="tg-baqh">{{data.createAt | date : "dd.MM.y"}}</td>





                            <td class="tg-baqh">{{data.transactionHash}}</td>


                            <td class="tg-baqh"><i class="fa fa-eye" ng-click="view(data.transactionHash, $event)" style="cursor: pointer"></i></td>
                            <td class="tg-baqh"><i class="fa fa-download" style="cursor: pointer"></i></td>
                            <td class="tg-baqh"><i class="fa fa-window-close" style="cursor: pointer"></i></td>


                        </tr>



                        </tbody>


                    </table>


                </div>

            </div>


        </md-card>

    </div>
















</div>