<div class="row" ng-controller="greencontractCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Зеленый контракт</h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">


                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Заключить зеленый контракт">
                            <md-content class="md-padding">


                                <div class="row">


                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">Мои текущее лимиты:</span>

                                                </md-card-title-text>




                                            </md-card-title>


                                            <div style="margin-left: 20px">


                                                <h6 class="title">На электроэнергию (ЭЭ по ПУ) – 7000 тенге – (автоматический пересчет на единицу ресурсов) 567,30 кВт</h6>
                                                <h6 class="title">На холодную воду (Водоснабжение по ПУ) – 500 тенге – (автоматический пересчет на единицу ресурсов) 12,20 м<sup>3</sup></h6>
                                                <h6 class="title">На горячую воду (ГВС) – 1000 тенге – (автоматический пересчет на единицу ресурсов)  6,26 м<sup>3</sup></h6>
                                                <h6 class="title">На Водоотведение по ПУ - 500 тенге – (автоматический пересчет на единицу ресурсов) 15,67 м<sup>3</sup></h6>
                                                <h6 class="title">Всего - 9 000 тенге</h6>



                                            </div>



                                        </md-card>
                                    </div>
                                    <div class="col-md-6">
                                        <md-card>



                                            <style type="text/css">
                                                .tg  {border-collapse:collapse;border-spacing:0; width: 100%;}
                                                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                                .tg .tg-hgcj{font-weight:bold;text-align:center; vertical-align:middle}
                                                .tg .tg-baqh{text-align:center;vertical-align:middle}
                                                .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:middle}


                                            </style>
                                            <table class="tg table-striped">
                                                <tr>

                                                    <th class="tg-hgcj">Наименование услуги</th>
                                                    <th class="tg-hgcj">В финансах</th>
                                                    <th class="tg-hgcj">В количестве потребленных ресурсов</th>


                                                </tr>


                                                <tbody>


                                                <tr>





                                                    <td class="tg-baqh">Электричество</td>
                                                    <td class="tg-baqh">7000</td>
                                                    <td class="tg-baqh">567,30 кВт</td>




                                                </tr>


                                                <tr>

                                                    <td class="tg-baqh">Холодная вода</td>
                                                    <td class="tg-baqh">500</td>
                                                    <td class="tg-baqh">12,20 м<sup>3</sup></td>


                                                </tr>


                                                <tr>


                                                    <td class="tg-baqh">Горячая вода</td>
                                                    <td class="tg-baqh">1000</td>
                                                    <td class="tg-baqh">6,26 м<sup>3</sup></td>


                                                </tr>


                                                <tr>

                                                    <td class="tg-baqh">Водоотведение</td>
                                                    <td class="tg-baqh">500</td>
                                                    <td class="tg-baqh">15,67 м<sup>3</sup></td>




                                                </tr>



                                                </tbody>


                                            </table>


                                        </md-card>
                                    </div>


                                </div>





                            </md-content>
                        </md-tab>



                        <md-tab label="Архив зеленых контрактов">
                            <md-content class="md-padding">




                            </md-content>
                        </md-tab>



                        <md-tab label="Аналитика – размер рекомендуемого лимита">
                            <md-content class="md-padding">




                            </md-content>
                        </md-tab>

                    </md-tabs>

                </div>

            </div>





        </md-card>

    </div>
















</div>