<div class="row" ng-controller="powersemCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Производственные показатели</h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">


                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="KPI">
                            <md-content class="md-padding">

                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Охват услугами
</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Производство
</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Потребление


</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Потери

</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Доля подключений с приборами учета


</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Доля, счет на которую выставлен по показаниям приборов учета



</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>



                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Количество аварий на сети за год в расчете на километр сети




</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>






                            </md-content>
                        </md-tab>



                        <md-tab label="КОЛИЧЕСТВО АБОНЕНТОВ">
                            <md-content class="md-padding">

                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Юр. лица

</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Физ. лица



</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>






                            </md-content>
                        </md-tab>

                        <md-tab label="ЖИЛОЙ ФОНД">
                            <md-content class="md-padding">

                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Многоэтажные жилые дома
</span>



                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Частные жилые дома

</span>



                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>



                            </md-content>
                        </md-tab>


                        <md-tab label="КОЛИЧЕСТВО СОТРУДНИКОВ">
                            <md-content class="md-padding">

                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">АУП
</span>



                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Производство

</span>



                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>



                            </md-content>
                        </md-tab>


                    </md-tabs>

                </div>

            </div>





        </md-card>

    </div>
















</div>