<div class="row" ng-controller="datasemCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Данные</h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">


                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="СИСТЕМЫ СЕМ">
                            <md-content class="md-padding">

                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">ГИС
</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Паспортизация

</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Диспетчерские службы



</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Контрольные точки (давление, температура)


</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Точки учета



</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Сводный баланс




</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>







                            </md-content>
                        </md-tab>



                        <md-tab label="ИСТОЧНИКИ ДАННЫХ СЕМ">
                            <md-content class="md-padding">

                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">А – автоматические данные с ИС, АСУТП


</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">B – ручной ввод, основанный на отчетах, журналах, записях




</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>






                            </md-content>
                        </md-tab>



                    </md-tabs>

                </div>

            </div>





        </md-card>

    </div>
















</div>