<div class="row" ng-controller="MyHouseCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Мой дом</h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">


                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Информация о моем доме">
                            <md-content class="md-padding">


                                <div class="row">
                                    <div class="col-md-12">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <h6 class="title">Наименование жилого комплекса: "Тестовый дом"</h6>
                                                    <h6 class="title">Адрес дома: ул. Тестовая, 55</h6>
                                                    <h6 class="title">Количество квартир: 150</h6>
                                                    <h6 class="title">Год постройки: 2015 г.</h6>
                                                    <h6 class="title">Этажность: 14</h6>
                                                    <h6 class="title">Общая площадь: 8223 м2</h6>
                                                    <h6 class="title">Общая площадь жилых помещений: 6253 м2</h6>
                                                    <h6 class="title">Управляющая организация: ТОО «Тестовая»</h6>




                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <img src="../../images/house.jpg" alt="House" height="300" width="300">



                                                </md-card-title-media>

                                            </md-card-title>

                                            <md-card-actions layout="row">
                                                <md-button class="md-raised md-primary">Скачать паспорт дома</md-button>

                                            </md-card-actions>

                                        </md-card>
                                    </div>
                                </div>





                            </md-content>
                        </md-tab>
                        <md-tab label="Общедомовые счетчики">
                            <md-content class="md-padding">

                                <div class="row">
                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">500 Гкал</span>
                                                    <span class="md-subhead">Показания тепла</span>
                                                </md-card-title-text>

                                                <md-card-title-media>


                                                        <i class="flaticon-radiator"></i>


                                                </md-card-title-media>

                                            </md-card-title>

                                        </md-card>
                                    </div>


                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">500 кВт/ч</span>
                                                    <span class="md-subhead">Показания энергии</span>
                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <i class="flaticon-light-bulb"></i>


                                                </md-card-title-media>

                                            </md-card-title>

                                        </md-card>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">500 м3</span>
                                                    <span class="md-subhead">Показания холодной воды</span>
                                                </md-card-title-text>


                                                <md-card-title-media>


                                                    <i class="flaticon-tap"></i>


                                                </md-card-title-media>

                                            </md-card-title>

                                        </md-card>
                                    </div>


                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">500 м3</span>
                                                    <span class="md-subhead">Показания горячей воды</span>
                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <i class="flaticon-tap-1"></i>


                                                </md-card-title-media>

                                            </md-card-title>

                                        </md-card>
                                    </div>

                                </div>

                            </md-content>
                        </md-tab>
                        <md-tab label="Мое КСК">
                            <md-content class="md-padding">
                                <h6 class="title">Объявления</h6>

                                <div class="row">

                                    <div class="col-md-6">


                                        <md-card>
                                            <i class="flaticon-megaphone"></i>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">Собрание по ремонту лифта и проводки: 1 марта в 19:30, 5 подъезд</span>
                                                </md-card-title-text>
                                            </md-card-title>
                                            <md-card-content>
                                                <p>
                                                    С 1 апреля в нашем доме начнется обязательный капитальный ремонт по государственной программе.
                                                </p>
                                                <p>
                                                    Сейчас в проект не включен ремонт лифта и проводки — якобы потому, что они еще в нормальном состоянии. Совет жильцов хочет включить ремонт лифта и проводки, чтобы жильцам было удобно ездить, а мощности хватало на всех.
                                                </p>
                                                <p>
                                                    Чтобы лифт и электрику включили в проект, мы должны провести собрание. На собрании должно быть не менее 2/3 жильцов дома. Приходите на собрание и поставьте подпись за ремонт лифта и проводки. На это уйдет пять минут.

                                                    Приходите на собрание в среду, 1 марта, в 19:30,
                                                    напротив пятого подъезда.

                                                </p>
                                            </md-card-content>
                                            <md-card-actions layout="row" layout-align="end center">
                                                <md-button>Я пойду</md-button>
                                                <md-button>Я не пойду</md-button>
                                            </md-card-actions>
                                        </md-card>

                                    </div>

                                    <div class="col-md-6">
                                        <md-card>
                                            <i class="flaticon-megaphone"></i>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">Нужен ли вам консьерж
в пятом подъезде?
</span>
                                                </md-card-title-text>
                                            </md-card-title>
                                            <md-card-content>
                                                <p>
                                                    Управляющая компания может организовать работу консьержа в нашем подъезде. Консьерж будет следить за порядком в подъезде, не пустит хулиганов и расклейщиков объявлений и будет заниматься благоустройством клумбы у подъезда.
                                                </p>
                                                <p>
                                                    Для вас услуги консьержа будут стоить 20 рублей в месяц.

                                                    Чтобы организовать пост консьержа, нужно согласие 70% жильцов. Приходите на собрание, чтобы проголосовать:

                                                </p>
                                                <p>
                                                    29 апреля, в субботу,
                                                    в 11:00, возле нашего подъезда.
                                                    На голосование уйдет пять минут.
                                                    С собой ничего брать не нужно.

                                                </p>
                                            </md-card-content>
                                            <md-card-actions layout="row" layout-align="end center">
                                                <md-button>Я пойду</md-button>
                                                <md-button>Я не пойду</md-button>
                                            </md-card-actions>
                                        </md-card>

                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-6">


                                        <md-card>
                                            <i class="flaticon-megaphone"></i>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">Горячей воды не будет
с 1 по 15 мая
</span>
                                                </md-card-title-text>
                                            </md-card-title>
                                            <md-card-content>
                                                <p>
                                                    За это время «Мостепло» заменит часть труб в нашем районе и отремонтирует оборудование на теплоузле. Отключат только горячую воду, холодная будет всё время.

                                                    Воду перекроют		01 мая с 10:00 до 11:00,
                                                    включат 			15 мая с 12:00 до 15:00.

                                                </p>
                                                <p>
                                                    Чтобы на время профилактики в квартире была горячая вода, используйте бытовые водонагреватели. При установке нагревателя обращайтесь только к квалифицированным сантехникам, не устанавливайте нагреватели самостоятельно. Диспетчерская служба для вызова сантехника из нашего района: +7 495 123-45-67
                                                </p>

                                            </md-card-content>

                                        </md-card>

                                    </div>

                                    <div class="col-md-6">
                                        <md-card>
                                            <i class="flaticon-megaphone"></i>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">Проверка утечек газа в шестом подъезде:
в среду 10 мая
                                                        с 10:00 до 14:00 </span>

                                                </md-card-title-text>
                                            </md-card-title>
                                            <md-card-content>
                                                <p>
                                                    Даже если вы не слышите дома запах газа, у вас может быть утечка. В среду инженеры «Мосгаза» будут проверять утечки в квартирах нашего подъезда, чтобы вовремя заменить оборудование и защитить дом от взрыва.
                                                </p>
                                                <p>
                                                    Пожалуйста, откройте сотрудникам, когда они позвонят в вашу квартиру. Спросите удостоверение.  Сотрудники проверят газовые печи и трубы специальными детекторами. Разбирать плиту или перекрывать газ не нужно.
                                                </p>

                                            </md-card-content>
                                            <md-card-actions layout="row" layout-align="end center">
                                                <md-button>Я буду дома</md-button>
                                                <md-button>Меня не будет дома</md-button>
                                            </md-card-actions>
                                        </md-card>

                                    </div>

                                </div>

                            </md-content>
                        </md-tab>

                        <md-tab label="Капитальный ремонт">
                            <md-content class="md-padding">

                                <div class="row">
                                    <div class="col-md-6">

                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">500 000 тенге</span>
                                                    <span class="md-subhead">Моя внесенная сумма на кап. ремонт</span>
                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <i class="flaticon-kazakhstani-tenge"></i>


                                                </md-card-title-media>

                                            </md-card-title>

                                        </md-card>
                                    </div>


                                    <div class="col-md-6">

                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">12.07.2018</span>
                                                    <span class="md-subhead">Дата кап. ремонта дома</span>
                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <i class="flaticon-calendar"></i>


                                                </md-card-title-media>

                                            </md-card-title>

                                        </md-card>
                                    </div>


                                </div>



                            </md-content>
                        </md-tab>

                        <md-tab label="Запланированные работы по дому">
                            <md-content class="md-padding">


                                <div class="row">
                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">12.07.2018</span>
                                                    <span class="md-subhead">Ремонт внутридомовых инженерных систем электро-, тепло-, газо-, водоснабжения, водоотведения</span>
                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <i class="flaticon-calendar"></i>


                                                </md-card-title-media>


                                            </md-card-title>



                                        </md-card>
                                    </div>


                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">12.07.2018</span>
                                                    <span class="md-subhead">Ремонт или замену лифтового оборудования, признанного непригодным для эксплуатации, ремонт лифтовых шахт</span>
                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <i class="flaticon-calendar"></i>


                                                </md-card-title-media>


                                            </md-card-title>



                                        </md-card>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">12.07.2018</span>
                                                    <span class="md-subhead">Ремонт крыши</span>
                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <i class="flaticon-calendar"></i>


                                                </md-card-title-media>


                                            </md-card-title>



                                        </md-card>
                                    </div>


                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">12.07.2018</span>
                                                    <span class="md-subhead">Ремонт подвальных помещений, относящихся к общему имуществу в многоквартирном доме</span>
                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <i class="flaticon-calendar"></i>


                                                </md-card-title-media>


                                            </md-card-title>



                                        </md-card>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">12.07.2018</span>
                                                    <span class="md-subhead">Ремонт фасада</span>
                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <i class="flaticon-calendar"></i>


                                                </md-card-title-media>


                                            </md-card-title>



                                        </md-card>
                                    </div>


                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">12.07.2018</span>
                                                    <span class="md-subhead">Ремонт фундамента многоквартирного дома</span>
                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <i class="flaticon-calendar"></i>


                                                </md-card-title-media>


                                            </md-card-title>



                                        </md-card>
                                    </div>
                                </div>



                            </md-content>
                        </md-tab>
                    </md-tabs>

                </div>

            </div>





        </md-card>

    </div>
















</div>