<div class="row" ng-controller="MyHouseCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Мой дом</h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">


                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Цифровой паспорт дома">
                            <md-content class="md-padding">


                                <div class="row">
                                    <div class="col-md-12">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <h6 class="title">Наименование жилого комплекса: "Тестовый ЖК"</h6>
                                                    <h6 class="title">Адрес дома: ул Ч. Айтматова 31</h6>
                                                    <h6 class="title">Количество квартир: 150</h6>
                                                    <h6 class="title">Год постройки: 2015 г.</h6>
                                                    <h6 class="title">Этажность: 14</h6>
                                                    <h6 class="title">Общая площадь: 8223 м2</h6>
                                                    <h6 class="title">Общая площадь жилых помещений: 6253 м2</h6>
                                                    <h6 class="title">Управляющая организация: ТОО «Тестовая»</h6>




                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <img src="../../images/house.jpg" alt="House" height="300" width="300">



                                                </md-card-title-media>

                                            </md-card-title>

                                            <md-card-actions layout="row">
                                                <a class="md-button md-raised md-primary" href="assets/doc/Электронный паспорт Айтматова 31.xlsx">Скачать паспорт дома</a>

                                            </md-card-actions>

                                        </md-card>
                                    </div>
                                </div>





                            </md-content>
                        </md-tab>
                        <md-tab label="Общедомовые счетчики">
                            <md-content class="md-padding">


                                <div class="row">
                                    <div class="col-md-12">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{data.q}} Гкал</span>
                                                    <span class="md-subhead">Показания теплопотребления</span>
                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <i class="flaticon-radiator"></i>


                                                </md-card-title-media>

                                            </md-card-title>

                                        </md-card>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{data.m1}}</span>
                                                    <span class="md-subhead">Массовый расход на подаче тонн</span>
                                                </md-card-title-text>



                                            </md-card-title>

                                        </md-card>
                                    </div>


                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{data.m2}}</span>
                                                    <span class="md-subhead">Массовый расход на обратке тонн</span>
                                                </md-card-title-text>




                                            </md-card-title>

                                        </md-card>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{data.t1}}</span>
                                                    <span class="md-subhead">Температура на подаче С</span>
                                                </md-card-title-text>



                                            </md-card-title>

                                        </md-card>
                                    </div>


                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{data.t2}}</span>
                                                    <span class="md-subhead">Температура на обратке С</span>
                                                </md-card-title-text>



                                            </md-card-title>

                                        </md-card>
                                    </div>

                                </div>



                                <div class="row">
                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{data.p1}}</span>
                                                    <span class="md-subhead">Давление на подаче Ат</span>
                                                </md-card-title-text>



                                            </md-card-title>

                                        </md-card>
                                    </div>


                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{data.p2}}</span>
                                                    <span class="md-subhead">Давление на обратке Ат</span>
                                                </md-card-title-text>



                                            </md-card-title>

                                        </md-card>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{data.v1}}</span>
                                                    <span class="md-subhead">Объёмный расход на подаче м3</span>
                                                </md-card-title-text>



                                            </md-card-title>

                                        </md-card>
                                    </div>


                                    <div class="col-md-6">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{data.v2}}</span>
                                                    <span class="md-subhead">Объёмный расход на обратке м3</span>
                                                </md-card-title-text>



                                            </md-card-title>

                                        </md-card>
                                    </div>

                                </div>

                            </md-content>
                        </md-tab>


                        <md-tab label="Капитальный ремонт">
                            <md-content class="md-padding">

                                <div class="row">
                                    <div class="col-md-6">

                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">500 000 тенге</span>
                                                    <span class="md-subhead">Текущие накопления на кап. ремонт
</span>
                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <i class="flaticon-kazakhstani-tenge"></i>


                                                </md-card-title-media>

                                            </md-card-title>

                                        </md-card>




                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">10 000 тенге</span>
                                                    <span class="md-subhead">Размер ежемесячных взносов на кап. ремонт

</span>
                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <i class="flaticon-kazakhstani-tenge"></i>


                                                </md-card-title-media>

                                            </md-card-title>

                                        </md-card>


                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">1 000 000 тенге</span>
                                                    <span class="md-subhead">Текущие накопления дома на капитальный ремонт


</span>
                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <i class="flaticon-kazakhstani-tenge"></i>


                                                </md-card-title-media>

                                            </md-card-title>

                                        </md-card>


                                    </div>


                                    <div class="col-md-6">

                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">12.07.2018</span>
                                                    <span class="md-subhead">Дата проведения  последнего капитального ремонта
</span>
                                                </md-card-title-text>

                                                <md-card-title-media>


                                                    <i class="flaticon-calendar"></i>


                                                </md-card-title-media>

                                            </md-card-title>

                                        </md-card>
                                    </div>


                                </div>



                            </md-content>
                        </md-tab>

                        <md-tab label="Информация о текущем пользовании общедомовым имуществом">
                            <md-content class="md-padding">




                            </md-content>
                        </md-tab>
                    </md-tabs>

                </div>

            </div>





        </md-card>

    </div>
















</div>