<div class="row" ng-controller="myProfileCtrl">

    <div class="col-md-12">


        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Общая информация">
                <md-content class="md-padding">


                    <div class="row">

                        <div class="col-12  col-lg-3">
                            <div id="account-edit-photo">
                                <div><img src="assets/img/user.png" alt="Account Image"></div>
                                <p><a ui-sref="myprofile" class="btn btn-green-pro">Изменить фотографию профиля</a></p>
                                <p><a ui-sref="myprofile" class="btn">Удалить фотографию</a></p>
                            </div>
                        </div><!-- close .col -->
                        <div class="col">

                            <form class="account-settings-form">

                                <h5>Общая информация</h5>
                                <p class="small-paragraph-spacing">Заполните свой профиль однажды, чтобы было легче заключать смарт - контракты</p>
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="first-name" class="col-form-label">Имя:</label>
                                            <input type="text" class="form-control" id="first-name">
                                        </div>
                                    </div><!-- close .col -->
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="last-name" class="col-form-label">Фамилия:</label>
                                            <input type="text" class="form-control" id="last-name">
                                        </div>
                                    </div><!-- close .col -->

                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="th-name" class="col-form-label">Отчество:</label>
                                            <input type="text" class="form-control" id="th-name">
                                        </div>
                                    </div><!-- close .col -->


                                </div><!-- close .row -->
                                <hr>

                                <h5>Информация о профиле</h5>
                                <p class="small-paragraph-spacing">Вы можете изменить свой email здесь.</p>

                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="e-mail" class="col-form-label">E-mail</label>
                                            <input type="text" class="form-control" id="e-mail">
                                        </div>
                                    </div><!-- close .col -->
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <div><label for="button-change" class="col-form-label">&nbsp; &nbsp;</label></div>
                                            <a ui-sref="myprofile" class="btn btn-form">Изменить email</a>
                                        </div>
                                    </div><!-- close .col -->

                                </div><!-- close .row -->

                                <hr>
                                <h5>Изменить пароль</h5>
                                <p class="small-paragraph-spacing">Вы можете изменить свой пароль здесь.</p>
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="password" class="col-form-label">Текущей пароль:</label>
                                            <input type="text" class="form-control" id="password" value="&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;">
                                        </div>
                                    </div><!-- close .col -->
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="new-password" class="col-form-label">Новый пароль:</label>
                                            <input type="text" class="form-control" id="new-password" placeholder="Минимум 8 символов">
                                        </div>
                                    </div><!-- close .col -->
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <div><label for="confirm-password" class="col-form-label">&nbsp; &nbsp;</label></div>
                                            <input type="text" class="form-control" id="confirm-password" placeholder="Повторите пароль">
                                        </div>
                                    </div><!-- close .col -->
                                </div><!-- close .row -->

                                <div class="clearfix"></div>
                                <hr>
                                <p><a ui-sref="myprofile" class="btn btn-green-pro">Сохранить изменения</a></p>
                                <br>
                            </form>

                        </div><!-- close .col -->

                    </div>





                </md-content>
            </md-tab>

        </md-tabs>

    </div>











</div>