<div class="row" ng-controller="messagekskCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Сообщения</h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">


                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="ОБРАЩЕНИЯ">
                            <md-content class="md-padding">

                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Входящие</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Исходящие</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Жалобы</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Обращения</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>



                            </md-content>
                        </md-tab>



                        <md-tab label="Голосование">
                            <md-content class="md-padding">

                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Цифровое</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Очное</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Смешанное</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>




                            </md-content>
                        </md-tab>

                        <md-tab label="ФОРУМ">
                            <md-content class="md-padding">

                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Входящие</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Исходящие</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Жалобы</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Обращения</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>



                            </md-content>
                        </md-tab>



                    </md-tabs>

                </div>

            </div>





        </md-card>

    </div>
















</div>