<div class="row" ng-controller="houseManageCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Управление домом</h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">


                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Форма управления домом">
                            <md-content class="md-padding">


                                <div class="row">
                                    <div class="col-md-12">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <h6 class="title">Наименование: test</h6>
                                                    <h6 class="title">Наименование юридического лица: test</h6>
                                                    <h6 class="title">Организационно-правовая форма: test</h6>
                                                    <h6 class="title">Государственное коммунальное предприятие: test</h6>
                                                    <h6 class="title">ФИО руководителя: test</h6>
                                                    <h6 class="title">Резюме руководителя: test</h6>
                                                    <h6 class="title">БИН: test</h6>
                                                    <h6 class="title">Контактные телефоны: test</h6>
                                                    <h6 class="title">Адрес: test</h6>
                                                    <h6 class="title">Адрес электронной почты: test</h6>
                                                    <h6 class="title">Web сайт: test</h6>
                                                    <h6 class="title">Нарушения: test</h6>
                                                    <h6 class="title">Регистрации: test</h6>
                                                    <h6 class="title">Место нахождения: test</h6>


                                                </md-card-title-text>


                                            </md-card-title>



                                        </md-card>
                                    </div>
                                </div>





                            </md-content>
                        </md-tab>
                        <md-tab label="Обслуживание дома">
                            <md-content class="md-padding">
                                <div class="row">
                                    <div class="col-md-12">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <h6 class="title">Субъекты сервисной деятельности: test</h6>
                                                    <h6 class="title">Сантехник: test</h6>
                                                    <h6 class="title">Электрик: test</h6>
                                                    <h6 class="title">Дворник: test</h6>
                                                    <h6 class="title">Лифтовая: test</h6>
                                                    <h6 class="title">Вывоз мусора : test</h6>
                                                    <h6 class="title">Водоснабжающая организация: test</h6>
                                                    <h6 class="title">Теплоснабжающая организация: test</h6>
                                                    <h6 class="title">Электроснабжающая организация: test</h6>
                                                    <h6 class="title">Газоснабжающая организация: test</h6>
                                                    <h6 class="title">Интернет и телефония, телевидение: test</h6>



                                                </md-card-title-text>


                                            </md-card-title>



                                        </md-card>
                                    </div>
                                </div>



                            </md-content>
                        </md-tab>




                        <md-tab label="Работы по дому">
                            <md-content class="md-padding">
                                <div class="row">



                                    <div class="col-md-4">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">Текущий ремонт</span>


                                                    <span class="md-subhead">Организация: test</span>
                                                    <span class="md-subhead">Дата выполнения: test</span>
                                                    <span class="md-subhead">Список выполненных работ: test</span>
                                                    <span class="md-subhead">Форма завершения: test</span>
                                                    <span class="md-subhead">Вид ремонта: test</span>





                                                </md-card-title-text>



                                            </md-card-title>

                                        </md-card>
                                    </div>


                                    <div class="col-md-4">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">Подготовка дома к отопительному сезону</span>


                                                    <span class="md-subhead">Дата начало: test</span>
                                                    <span class="md-subhead">Дата окончания: test</span>


                                                    <span class="md-subhead">Список работ: test</span>
                                                    <span class="md-subhead">Наименование работы: test</span>
                                                    <span class="md-subhead">Ревизия теплового пункта: test</span>
                                                    <span class="md-subhead">Форма завершения: test</span>













                                                </md-card-title-text>



                                            </md-card-title>

                                        </md-card>
                                    </div>

                                    <div class="col-md-4">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">Очистка и ремонт крыши</span>


                                                    <span class="md-subhead">Организация: test</span>
                                                    <span class="md-subhead">Периодичность выполнения работ: test</span>
                                                    <span class="md-subhead">График уборки: test</span>
                                                    <span class="md-subhead">Форма завершения: test</span>









                                                </md-card-title-text>



                                            </md-card-title>

                                        </md-card>
                                    </div>


                                </div>




                                <div class="row">



                                    <div class="col-md-4">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">Уборка лестничных пролетов, площадок</span>


                                                    <span class="md-subhead">Организация: test</span>
                                                    <span class="md-subhead">Периодичность выполнения работ: test</span>
                                                    <span class="md-subhead">График уборки: test</span>




                                                </md-card-title-text>



                                            </md-card-title>

                                        </md-card>
                                    </div>


                                    <div class="col-md-4">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">Уборка подвальных помещении</span>




                                                    <span class="md-subhead">Организация: test</span>
                                                    <span class="md-subhead">Периодичность выполнения работ: test</span>
                                                    <span class="md-subhead">График уборки: test</span>
                                                    <span class="md-subhead">Форма завершения: test</span>













                                                </md-card-title-text>



                                            </md-card-title>

                                        </md-card>
                                    </div>

                                    <div class="col-md-4">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">Уборка прилегающей к дому территории</span>


                                                    <span class="md-subhead">Организация: test</span>
                                                    <span class="md-subhead">Дата выполнения: test</span>
                                                    <span class="md-subhead">Список выполненных работ: test</span>
                                                    <span class="md-subhead">Форма завершения: test</span>









                                                </md-card-title-text>



                                            </md-card-title>

                                        </md-card>
                                    </div>


                                </div>


                            </md-content>
                        </md-tab>



                        <md-tab label="Мои заявки">
                            <md-content class="md-padding">


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>

                                            <span class="md-subhead">Аналитика по заявкам (количество заявок, статус исполнения по заявкам)</span>


                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                            </md-content>
                        </md-tab>





                        <md-tab label="Движение финансовых средств">
                            <md-content class="md-padding">



                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Размер эксплуатационных взносов
</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Состояние счета
</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Годовой бюджет
</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">План закупок</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>



                            </md-content>
                        </md-tab>

                        <md-tab label="Голосование">
                            <md-content class="md-padding">



                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Текущие опросы

</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Архив опросов

</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Мои опросы

</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Смена председателя
</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>

                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Результаты голосований по смене председателя

</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>

                            </md-content>
                        </md-tab>



                        <md-tab label="Отчетность">
                            <md-content class="md-padding">



                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Отчет за квартал</span>



                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>



                            </md-content>
                        </md-tab>

                    </md-tabs>

                </div>

            </div>





        </md-card>

    </div>
















</div>