<div class="row" ng-controller="houseManageCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Управление домом</h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">


                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Форма управления домом">
                            <md-content class="md-padding">


                                <div class="row">
                                    <div class="col-md-12">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Наименование: УК Управляющая компания Астана-Кызмет</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Наименование юридического лица: ТОО  "УК Управляющая компания Астана-Кызмет"</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Организационно-правовая форма: Товарищество с ограниченной ответственностью</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">ФИО руководителя: Иванов Петр Сергеевич</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">БИН: 123 321456 543</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Контактные телефоны: 8 7172 123 321</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Адрес: г. Астана, улица Ч. Айтматова, д.31, ВП-1</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Адрес электронной почты: uprdom@mail.kz</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Web сайт: https://www.uprdom.kz</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Нарушения: Не имеется</h6>


                                                </md-card-title-text>


                                            </md-card-title>



                                        </md-card>
                                    </div>
                                </div>





                            </md-content>
                        </md-tab>












                        <md-tab label="Обслуживание дома">
                            <md-content class="md-padding">
                                <div class="row">
                                    <div class="col-md-12">
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Сантехник: Кван Дмитрий Олегович</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Электрик: Керимкулов Нуралы Сейдалиевич</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Дворник: Петренко Александр Геннадиевич</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Лифтовая: ТОО "КазЛифт"</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Вывоз мусора : ТОО "Clean City NC"</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Водоснабжающая организация: ГКП на ПХВ «Астана су арнасы»</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Теплоснабжающая организация: ТОО «Астанаэнергосбыт»</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Электроснабжающая организация: ТОО «Астанаэнергосбыт»</h6>
                                                    <h6 style="font-weight: normal; font-size: 1.2em">Интернет и телефония, телевидение: АО «Казахтелеком», ТОО "Карт - Тел"</h6>



                                                </md-card-title-text>


                                            </md-card-title>



                                        </md-card>
                                    </div>
                                </div>



                            </md-content>
                        </md-tab>






                        <md-tab label="Мои заявки">
                            <md-content class="md-padding">


                                <md-card>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Наименование заявки</label>
                                        <input ng-model="data.nameContract">
                                    </md-input-container>





                                    <md-input-container>
                                        <label>Выберите тип заявки</label>

                                        <md-select ng-model="selectZayvka">

                                            <md-option ng-repeat="y in allZayvka" ng-value="y.id">
                                                {{y.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>


                                    <md-input-container class="md-block">
                                        <label>Текст заявки</label>
                                        <textarea ng-model="text" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                                    </md-input-container>




                                        <input type="file">


                                    <md-checkbox ng-model="data.cb1" aria-label="Оповещать о ходе работы по заявке" style="margin-top: 20px">
                                        Оповещать о ходе работы по заявке
                                    </md-checkbox>





                                    <div class="row">
                                        <div class="col-md-2">

                                            <md-button class="md-button md-raised md-primary">Отправить</md-button>

                                        </div>

                                        <div class="col-md-2">

                                            <md-button class="md-button md-raised md-primary">Отмена</md-button>

                                        </div>

                                    </div>




                                </md-card>


                            </md-content>
                        </md-tab>





                        <md-tab label="Эксплуатационные расходы">
                            <md-content class="md-padding">



                                <div class="row">


                                        <div class="col-md-4">

                                            <md-card>

                                                <md-card-title>
                                                    <md-card-title-text>

                                                        <span class="md-headline">417 279 тг.</span>
                                                        <span class="md-subhead">Поступления</span>


                                                    </md-card-title-text>



                                                </md-card-title>






                                            </md-card>


                                        </div>




                                        <div class="col-md-4">

                                            <md-card>

                                                <md-card-title>
                                                    <md-card-title-text>

                                                        <span class="md-headline">349 879 тг.</span>
                                                        <span class="md-subhead">Затраты</span>


                                                    </md-card-title-text>



                                                </md-card-title>






                                            </md-card>


                                        </div>





                                        <div class="col-md-4">

                                            <md-card>

                                                <md-card-title>
                                                    <md-card-title-text>

                                                        <span class="md-headline">67 400тг.</span>
                                                        <span class="md-subhead">Остаток на счете</span>


                                                    </md-card-title-text>


                                                </md-card-title>


                                            </md-card>






                                        </div>




                                </div>



                                <div class="row">


                                    <div class="col-md-4">




                                        <md-card>

                                            <md-card-title>
                                                <md-card-title-text>

                                                    <span class="md-headline">225 279 тг.</span>
                                                    <span class="md-subhead">Поступления от собственников квартир</span>


                                                </md-card-title-text>


                                            </md-card-title>


                                        </md-card>





                                        </div>



                                    <div class="col-md-4">


                                        <md-card>

                                            <md-card-title>
                                                <md-card-title-text>

                                                    <span class="md-headline">225 311 тг</span>
                                                    <span class="md-subhead">Прямые затраты</span>


                                                </md-card-title-text>


                                            </md-card-title>


                                        </md-card>


                                    </div>






                                </div>






                                <div class="row">


                                    <div class="col-md-4">

                                        <md-card>

                                            <md-card-title>
                                                <md-card-title-text>

                                                    <span class="md-headline">192 000 тг.</span>
                                                    <span class="md-subhead">Аренда нежилых помещений</span>


                                                </md-card-title-text>



                                            </md-card-title>






                                        </md-card>


                                    </div>

                                    <div class="col-md-4">

                                        <md-card>

                                            <md-card-title>
                                                <md-card-title-text>

                                                    <span class="md-headline">124 568 тг</span>
                                                    <span class="md-subhead">Административные затраты</span>


                                                </md-card-title-text>



                                            </md-card-title>






                                        </md-card>


                                    </div>





                                </div>



                                <div class="row">
                                    <div class="col-md-12">
                                        <style id="Копия Калькуляция на экплуатационные услуги (2)_16991_Styles">
                                            <!--table
                                            {mso-displayed-decimal-separator:"\,";
                                                mso-displayed-thousand-separator:" ";}
                                            .xl1516991
                                            {padding-top:1px;
                                                padding-right:1px;
                                                padding-left:1px;
                                                mso-ignore:padding;
                                                color:black;
                                                font-size:11.0pt;
                                                font-weight:400;
                                                font-style:normal;
                                                text-decoration:none;
                                                font-family:Calibri, sans-serif;
                                                mso-font-charset:204;
                                                mso-number-format:General;
                                                text-align:general;
                                                vertical-align:bottom;
                                                mso-background-source:auto;
                                                mso-pattern:auto;
                                                white-space:nowrap;}
                                            .xl6416991
                                            {padding-top:1px;
                                                padding-right:1px;
                                                padding-left:1px;
                                                mso-ignore:padding;
                                                color:black;
                                                font-size:11.0pt;
                                                font-weight:400;
                                                font-style:normal;
                                                text-decoration:none;
                                                font-family:Calibri, sans-serif;
                                                mso-font-charset:204;
                                                mso-number-format:General;
                                                text-align:general;
                                                vertical-align:bottom;
                                                border:.5pt solid windowtext;
                                                mso-background-source:auto;
                                                mso-pattern:auto;
                                                white-space:nowrap;}
                                            .xl6516991
                                            {padding-top:1px;
                                                padding-right:1px;
                                                padding-left:1px;
                                                mso-ignore:padding;
                                                color:black;
                                                font-size:11.0pt;
                                                font-weight:400;
                                                font-style:normal;
                                                text-decoration:none;
                                                font-family:Calibri, sans-serif;
                                                mso-font-charset:204;
                                                mso-number-format:"\#\,\#\#0";
                                                text-align:general;
                                                vertical-align:bottom;
                                                border:.5pt solid windowtext;
                                                mso-background-source:auto;
                                                mso-pattern:auto;
                                                white-space:nowrap;}
                                            -->
                                        </style>



                                        <table border=0 cellpadding=0 cellspacing=0 width=510 style='border-collapse:
 collapse;table-layout:fixed;width:383pt; width: 100%'>
                                            <col width=325 style='mso-width-source:userset;mso-width-alt:11885;width:244pt'>
                                            <col width=185 style='mso-width-source:userset;mso-width-alt:6765;width:139pt'>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 width=325 style='height:15.0pt;width:244pt'>Наименование
                                                    статьей затрат</td>
                                                <td class=xl6416991 width=185 style='border-left:none;width:139pt'>Итого</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>Прямые
                                                    затраты</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>225
                                                    311</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>Текущие
                                                    обслуживание дома</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>86
                                                    107</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>Менеджер
                                                    объекта</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>7
                                                    509</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>Уборка
                                                    общественных зон и придомовой террито<span style='display:none'>рии</span></td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>78
                                                    597</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>Благоустройство</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>1
                                                    001</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>оказание
                                                    услуг по дератизации</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>1
                                                    001</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>Обслуживание
                                                    приборов учета, насосов и ТУ</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>23
                                                    029</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>сервисное
                                                    обслуживание насосной станции</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>2
                                                    503</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>сервисное
                                                    обслуживание автоматики теплового у<span style='display:none'>зла</span></td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>5
                                                    006</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>сервисное
                                                    обслуживание противопожарной безо<span style='display:none'>пасности</span></td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>11
                                                    514</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>сервисное
                                                    обслуживание приборов СТУ</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>1
                                                    001</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>проверка
                                                    приборов учета</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>2
                                                    002</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>подготовка
                                                    к отопительному сезону (промывку, о<span style='display:none'>прессовка,
  ревизия) (ТОО Альтаир)</span></td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>1
                                                    001</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>Сантехнические
                                                    электрические работы<span style='mso-spacerun:yes'> </span></td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>50
                                                    062</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>сантехник</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>20
                                                    025</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>сантехнический
                                                    материал</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>3
                                                    004</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>сварщик</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>3
                                                    004</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>электрик</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>20
                                                    025</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>плотник</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>4
                                                    005</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>Уборка
                                                    придомовой территории</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>4
                                                    506</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>Услуги
                                                    транспорта</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>2
                                                    503</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>прочие
                                                    материалы</td>
                                                <td class=xl6416991 align=right style='border-top:none;border-left:none'>501</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>инструменты</td>
                                                <td class=xl6416991 align=right style='border-top:none;border-left:none'>501</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>спецодежда</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>1
                                                    001</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>Дежурное
                                                    освещение<span style='mso-spacerun:yes'> </span></td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>2
                                                    503</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>электрический
                                                    материал</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>2
                                                    503</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>Диспетчерская
                                                    служба</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>3
                                                    504</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>зарплата
                                                    диспетчеров</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>3
                                                    004</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>связь (АО
                                                    Казахтелеком)</td>
                                                <td class=xl6416991 align=right style='border-top:none;border-left:none'>501</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>Единовременные
                                                    услуги<span style='mso-spacerun:yes'> </span></td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>54
                                                    600</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>Вывоз
                                                    снега (ТОО Автоавангард)</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>24
                                                    000</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>Расходы
                                                    на приобретение материалов на хоз. нуж<span style='display:none'>ды<span
                                                            style='mso-spacerun:yes'> </span></span></td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>20
                                                    753</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>Дезинфекция
                                                    (ТОО Столичная дезинфекция)</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>9
                                                    847</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>Административные
                                                    расходы</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>124
                                                    568</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>Услуги
                                                    управления</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>10
                                                    012</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>Содержание
                                                    АУП</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>10
                                                    012</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'><span
                                                        style='mso-spacerun:yes'>    </span>ФОТ АУП, налоги</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>78
                                                    010</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'><span
                                                        style='mso-spacerun:yes'>    </span>административно-хозяйственные расходы</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>2
                                                    002</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>Услуги
                                                    вычислительного центра</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>1
                                                    001</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'><span
                                                        style='mso-spacerun:yes'>    </span>информационные услуги (1СБухгалтерия)</td>
                                                <td class=xl6416991 align=right style='border-top:none;border-left:none'>501</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'><span
                                                        style='mso-spacerun:yes'>    </span>оплата услуг банка</td>
                                                <td class=xl6416991 align=right style='border-top:none;border-left:none'>501</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>резервный
                                                    фонд</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>22
                                                    528</td>
                                            </tr>
                                            <tr height=20 style='height:15.0pt'>
                                                <td height=20 class=xl6416991 style='height:15.0pt;border-top:none'>ИТОГО
                                                    ВЫБЫЛО</td>
                                                <td class=xl6516991 align=right style='border-top:none;border-left:none'>349
                                                    879</td>
                                            </tr>
                                            <![if supportMisalignedColumns]>
                                            <tr height=0 style='display:none'>
                                                <td width=325 style='width:244pt'></td>
                                                <td width=185 style='width:139pt'></td>
                                            </tr>
                                            <![endif]>
                                        </table>



                                    </div>

                                </div>


                            </md-content>
                        </md-tab>

                        <md-tab label="Голосование">
                            <md-content class="md-padding">



                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Текущие опросы

</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Архив опросов

</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Мои опросы

</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>


                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Смена председателя
</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>

                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Результаты голосований по смене председателя

</span>


                                            </span>
                                        </md-card-title-text>



                                    </md-card-title>

                                </md-card>

                            </md-content>
                        </md-tab>



                        <md-tab label="Отчетность">
                            <md-content class="md-padding">



                                <md-card>
                                    <iframe height="600" src="https://docs.google.com/document/d/e/2PACX-1vT2VgTfG8p5veubRMQyFzGfyIQILLI_eYGQaCeD8uTTNKg4ekMCmDhNC8wLbGerArCTg1xbbQsUmtKm/pub?embedded=true" style="padding-left: 100px;
    border: 0;"></iframe>
                                </md-card>



                            </md-content>
                        </md-tab>

                    </md-tabs>

                </div>

            </div>





        </md-card>

    </div>
















</div>