<div class="row" ng-controller="homeCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Главная</h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="title" style="padding-left: 10px">Показания счетчиков</h6>
                        </div>

                    </div>



                    <div class="row">

                        <div class="col-md-6">



                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">500 тг.</span>
                                        <span class="md-subhead">Показания горячей воды</span>
                                    </md-card-title-text>

                                </md-card-title>

                            </md-card>
                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">500 тг.</span>
                                        <span class="md-subhead">Показания холодной воды</span>
                                    </md-card-title-text>

                                </md-card-title>

                            </md-card>

                        </div>


                        <div class="col-md-6">


                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">500 тг.</span>
                                        <span class="md-subhead">Показания электро счетчика</span>
                                    </md-card-title-text>

                                </md-card-title>

                            </md-card>
                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">500 тг.</span>
                                        <span class="md-subhead">Показания тепла</span>
                                    </md-card-title-text>

                                </md-card-title>

                            </md-card>



                        </div>

                    </div>


                </div>


                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="title" style="padding-left: 10px">Прикрепленные социальные объекты
                            </h6>
                        </div>

                    </div>



                    <div class="row">

                        <div class="col-md-6">



                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">Иванов И. И / ул. Тестовая, 65</span>
                                        <span class="md-subhead">Участковый полицейский - полицейский участок</span>
                                    </md-card-title-text>

                                </md-card-title>

                            </md-card>
                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">Иванов И. И / ул. Тестовая, 65</span>
                                        <span class="md-subhead">Участковый врач - поликлиника
</span>
                                    </md-card-title-text>

                                </md-card-title>

                            </md-card>

                        </div>


                        <div class="col-md-6">


                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">ул. Тестовая, 55</span>
                                        <span class="md-subhead">Школа</span>
                                    </md-card-title-text>

                                </md-card-title>

                            </md-card>
                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">ул. Тестовая, 65</span>
                                        <span class="md-subhead">Детский сад</span>
                                    </md-card-title-text>

                                </md-card-title>

                            </md-card>

                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">ул. Тестовая, 165</span>
                                        <span class="md-subhead">Почтовое отделение</span>
                                    </md-card-title-text>

                                </md-card-title>

                            </md-card>

                        </div>

                    </div>

                </div>

            </div>


            <div class="row">
                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="title" style="padding-left: 10px">Текущие голосования
                            </h6>
                        </div>

                    </div>



                    <div class="row">

                        <div class="col-md-6">



                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">Смена управляющей компании</span>

                                    </md-card-title-text>





                                </md-card-title>


                                <md-card-actions layout="row">
                                    <md-button class="md-raised md-primary">Да</md-button>
                                    <md-button class="md-raised md-primary">Нет</md-button>

                                </md-card-actions>

                            </md-card>


                        </div>


                        <div class="col-md-6">


                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">Замена домофона</span>

                                    </md-card-title-text>





                                </md-card-title>


                                <md-card-actions layout="row">
                                    <md-button class="md-raised md-primary">Да</md-button>
                                    <md-button class="md-raised md-primary">Нет</md-button>

                                </md-card-actions>

                            </md-card>




                        </div>

                    </div>


                </div>


                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="title" style="padding-left: 10px">Горящие уведомления

                            </h6>
                        </div>

                    </div>



                    <div class="row">

                        <div class="col-md-6">



                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">25 октября</span>
                                        <span class="md-subhead">Необходимо оплатить услуги до</span>
                                    </md-card-title-text>

                                </md-card-title>

                            </md-card>


                        </div>


                        <div class="col-md-6">


                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">Вы подходите к выходу за  лимит потребления воды
</span>

                                    </md-card-title-text>

                                </md-card-title>

                            </md-card>

                        </div>

                    </div>

                </div>

            </div>





            <div class="row">
                <div class="col-md-12">
                    <h6 class="title" style="padding-left: 10px; margin-top: 20px; margin-bottom: 20px">Объявления по дому</h6>


                    <div class="row">

                        <div class="col-md-6">


                            <md-card>
                                <i class="flaticon-megaphone"></i>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">Собрание по ремонту лифта и проводки: 1 марта в 19:30, 5 подъезд</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-content>
                                    <p>
                                        С 1 апреля в нашем доме начнется обязательный капитальный ремонт по государственной программе.
                                    </p>
                                    <p>
                                        Сейчас в проект не включен ремонт лифта и проводки — якобы потому, что они еще в нормальном состоянии. Совет жильцов хочет включить ремонт лифта и проводки, чтобы жильцам было удобно ездить, а мощности хватало на всех.
                                    </p>
                                    <p>
                                        Чтобы лифт и электрику включили в проект, мы должны провести собрание. На собрании должно быть не менее 2/3 жильцов дома. Приходите на собрание и поставьте подпись за ремонт лифта и проводки. На это уйдет пять минут.

                                        Приходите на собрание в среду, 1 марта, в 19:30,
                                        напротив пятого подъезда.

                                    </p>
                                </md-card-content>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button>Я пойду</md-button>
                                    <md-button>Я не пойду</md-button>
                                </md-card-actions>
                            </md-card>

                        </div>

                        <div class="col-md-6">
                            <md-card>
                                <i class="flaticon-megaphone"></i>
                                <md-card-title>
                                    <md-card-title-text>
                                                    <span class="md-headline">Нужен ли вам консьерж
в пятом подъезде?
</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-content>
                                    <p>
                                        Управляющая компания может организовать работу консьержа в нашем подъезде. Консьерж будет следить за порядком в подъезде, не пустит хулиганов и расклейщиков объявлений и будет заниматься благоустройством клумбы у подъезда.
                                    </p>
                                    <p>
                                        Для вас услуги консьержа будут стоить 20 рублей в месяц.

                                        Чтобы организовать пост консьержа, нужно согласие 70% жильцов. Приходите на собрание, чтобы проголосовать:

                                    </p>
                                    <p>
                                        29 апреля, в субботу,
                                        в 11:00, возле нашего подъезда.
                                        На голосование уйдет пять минут.
                                        С собой ничего брать не нужно.

                                    </p>
                                </md-card-content>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button>Я пойду</md-button>
                                    <md-button>Я не пойду</md-button>
                                </md-card-actions>
                            </md-card>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-6">


                            <md-card>
                                <i class="flaticon-megaphone"></i>
                                <md-card-title>
                                    <md-card-title-text>
                                                    <span class="md-headline">Горячей воды не будет
с 1 по 15 мая
</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-content>
                                    <p>
                                        За это время «Мостепло» заменит часть труб в нашем районе и отремонтирует оборудование на теплоузле. Отключат только горячую воду, холодная будет всё время.

                                        Воду перекроют		01 мая с 10:00 до 11:00,
                                        включат 			15 мая с 12:00 до 15:00.

                                    </p>
                                    <p>
                                        Чтобы на время профилактики в квартире была горячая вода, используйте бытовые водонагреватели. При установке нагревателя обращайтесь только к квалифицированным сантехникам, не устанавливайте нагреватели самостоятельно. Диспетчерская служба для вызова сантехника из нашего района: +7 495 123-45-67
                                    </p>

                                </md-card-content>

                            </md-card>

                        </div>

                        <div class="col-md-6">
                            <md-card>
                                <i class="flaticon-megaphone"></i>
                                <md-card-title>
                                    <md-card-title-text>
                                                    <span class="md-headline">Проверка утечек газа в шестом подъезде:
в среду 10 мая
                                                        с 10:00 до 14:00 </span>

                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-content>
                                    <p>
                                        Даже если вы не слышите дома запах газа, у вас может быть утечка. В среду инженеры «Мосгаза» будут проверять утечки в квартирах нашего подъезда, чтобы вовремя заменить оборудование и защитить дом от взрыва.
                                    </p>
                                    <p>
                                        Пожалуйста, откройте сотрудникам, когда они позвонят в вашу квартиру. Спросите удостоверение.  Сотрудники проверят газовые печи и трубы специальными детекторами. Разбирать плиту или перекрывать газ не нужно.
                                    </p>

                                </md-card-content>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button>Я буду дома</md-button>
                                    <md-button>Меня не будет дома</md-button>
                                </md-card-actions>
                            </md-card>

                        </div>

                    </div>




                </div>


            </div>


            <div class="row">
                <div class="col-md-12">
                   <md-button class="md-raised md-primary">Оплатить услуги ЖКХ</md-button>



                </div>


            </div>


        </md-card>

    </div>
















</div>