<div class="row" ng-controller="mainkskCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Общая информация о кск</h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">


                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Паспорт кск">
                            <md-content class="md-padding">


                                <div class="row">

<div class="col-md-4">


    <h6 style="font-weight: normal; font-size: 1.2em">Наименование юридического лица: Товарищество с ограниченной ответственностью "Управляющая компания "Астана - Қызмет"</h6>
    <h6 style="font-weight: normal; font-size: 1.2em">Организацонно-правовая форма: ТОО</h6>
    <h6 style="font-weight: normal; font-size: 1.2em">ФИО председателя: Мадиев Рустем Тореханович</h6>
    <h6 style="font-weight: normal; font-size: 1.2em">Контактные телефоны: 999-449</h6>
    <h6 style="font-weight: normal; font-size: 1.2em">Адрес: 010000, Республика Казахстан, Есиль, г. Астана, Сыганак, дом № 29</h6>
    <h6 style="font-weight: normal; font-size: 1.2em">Адрес Электронной почты: astanakizmet@mail.kz</h6>
    <h6 style="font-weight: normal; font-size: 1.2em">WEB-сайт: Отсутствует</h6>
    <h6 style="font-weight: normal; font-size: 1.2em">Свидетельство о регистрации мжд: Имеется</h6>
    <h6 style="font-weight: normal; font-size: 1.2em">Свидетельство о государственной регистрации кск: имеется</h6>




</div>


                                    <div class="col-md-4">


                                        <h6 style="font-weight: normal; font-size: 1.2em">Сведения о доходах: 6593 тыс. тг за 2017г.</h6>
                                        <h6 style="font-weight: normal; font-size: 1.2em">Сведения о расходах: 6559 тыс. тг за 2017 г</h6>
                                        <h6 style="font-weight: normal; font-size: 1.2em">Задолженность перед поставщиками: 36387 тыс. тг за 2017 г.</h6>
                                        <h6 style="font-weight: normal; font-size: 1.2em">Задолженность собственников: Отсутствует</h6>
                                        <h6 style="font-weight: normal; font-size: 1.2em">Счет текущий (СУММА): KZ1396503F0008015934</h6>
                                        <h6 style="font-weight: normal; font-size: 1.2em">Счет сберегательный (СУММА): Отсутствует</h6>
                                        <h6 style="font-weight: normal; font-size: 1.2em">Полученные штрафы: Отсутствует</h6>
                                        <h6 style="font-weight: normal; font-size: 1.2em">Выставленные штрафы: Отсутствует</h6>



                                    </div>


                                    <div class="col-md-4">


                                        <h6 style="font-weight: normal; font-size: 1.2em">Техника: Отсутствует</h6>
                                        <h6 style="font-weight: normal; font-size: 1.2em">Оборудование: Отсутствует</h6>
                                        <h6 style="font-weight: normal; font-size: 1.2em">Производственная база: Отсутствует</h6>


                                    </div>

                                </div>





                            </md-content>
                        </md-tab>



                        <md-tab label="Мои дома в управлении">
                            <md-content class="md-padding">

                                <div class="row">
                                    <div class="col-md-2">

                                        <h6 class="title">Адрес</h6>


                                        <h6>Лифтовое хозяйство</h6>
                                        <h6>Мусоропровод</h6>
                                        <h6>ТБО</h6>

                                    </div>
                                    <div class="col-md-2">

                                        <h6 class="title">Технический паспорт</h6>


                                        <h6>Безопасность</h6>
                                        <h6>Показатели санитарно-эпидемиологических требований</h6>



                                    </div>
                                    <div class="col-md-2">


                                        <h6 class="title">Площадь м2</h6>


                                        <h6>Коммуникационные сети</h6>
                                        <h6>Наличие текущего счета</h6>



                                    </div>
                                    <div class="col-md-2">

                                        <h6 class="title">Подъезды</h6>


                                        <h6>Инженерные сети</h6>
                                        <h6>Наличие сберегательного счета</h6>




                                    </div>
                                    <div class="col-md-2">


                                        <h6 class="title">Данные для ремонта дома</h6>


                                        <h6>Требования по пожарной безопасности</h6>
                                        <h6>Калькулятор энергоэффективности</h6>




                                    </div>


                                </div>



                            </md-content>
                        </md-tab>




                    </md-tabs>

                </div>

            </div>





        </md-card>

    </div>
















</div>