<div class="row" ng-controller="mainkskCtrl">



    <div class="col-md-12">

        <md-card>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-center" style="text-transform: uppercase; margin-top: 10px">Общая информация о кск</h3>

                </div>

            </div>



            <div class="row">
                <div class="col-md-12">


                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Паспорт кск">
                            <md-content class="md-padding">


                                <div class="row">

<div class="col-md-4">


    <h6>Наименование юридического лица: test</h6>
    <h6>Организацонно-правовая форма: test</h6>
    <h6>ФИО председателя: test</h6>
    <h6>Резюме руководителя: test</h6>
    <h6>Нарушения: test</h6>
    <h6>Контактные телефоны: test</h6>
    <h6>Адрес: test</h6>
    <h6>Адрес Электронной почты: test</h6>
    <h6>WEB-сайт: test</h6>
    <h6>Свидетельство о регистрации мжд: test</h6>
    <h6>Свидетельство о государственной регистрации кск: test</h6>




</div>


                                    <div class="col-md-4">


                                        <h6>Сведения о доходах: test</h6>
                                        <h6>Сведения о расходах: test</h6>
                                        <h6>Задолженность перед поставщиками: test</h6>
                                        <h6>Задолженность собственников: test</h6>
                                        <h6>Счет текущий (СУММА): test</h6>
                                        <h6>Счет сберегательный (СУММА): test</h6>
                                        <h6>Полученные штрафы: test</h6>
                                        <h6>Выставленные штрафы: test</h6>



                                    </div>


                                    <div class="col-md-4">


                                        <h6>Техника: test</h6>
                                        <h6>Оборудование: test</h6>
                                        <h6>Производственная база: test</h6>


                                    </div>

                                </div>





                            </md-content>
                        </md-tab>



                        <md-tab label="Мои дома в управлении">
                            <md-content class="md-padding">

                                <div class="row">
                                    <div class="col-md-2">

                                        <h6 class="title">Адрес</h6>


                                        <h6>Лифтовое хозяйство</h6>
                                        <h6>Мусоропровод</h6>
                                        <h6>ТБО</h6>

                                    </div>
                                    <div class="col-md-2">

                                        <h6 class="title">Технический паспорт</h6>


                                        <h6>Безопасность</h6>
                                        <h6>Показатели санитарно-эпидемиологических требований</h6>



                                    </div>
                                    <div class="col-md-2">


                                        <h6 class="title">Площадь м2</h6>


                                        <h6>Коммуникационные сети</h6>
                                        <h6>Наличие текущего счета</h6>



                                    </div>
                                    <div class="col-md-2">

                                        <h6 class="title">Подъезды</h6>


                                        <h6>Инженерные сети</h6>
                                        <h6>Наличие сберегательного счета</h6>




                                    </div>
                                    <div class="col-md-2">


                                        <h6 class="title">Данные для ремонта дома</h6>


                                        <h6>Требования по пожарной безопасности</h6>
                                        <h6>Калькулятор энергоэффективности</h6>




                                    </div>


                                </div>



                            </md-content>
                        </md-tab>




                    </md-tabs>

                </div>

            </div>





        </md-card>

    </div>
















</div>